registry=https://pkgs.dev.azure.com/msface/SDK/_packaging/AzureAIVision/npm/registry/
always-auth=true
; begin auth token
//pkgs.dev.azure.com/msface/SDK/_packaging/AzureAIVision/npm/registry/:username=msface
//pkgs.dev.azure.com/msface/SDK/_packaging/AzureAIVision/npm/registry/:_password=M01aVEozb1E4eUpUaTlpSzN5aWNtNU5aQ2ZpZVRVeW1UMDl4SFA5a2I4ZG4zZTlmU2xBU0pRUUo5OUNCQUNBQUFBQUFBcm9oQUFBU0FaRE8zQVcy
//pkgs.dev.azure.com/msface/SDK/_packaging/AzureAIVision/npm/registry/:email=contato@machadogestao.com
//pkgs.dev.azure.com/msface/SDK/_packaging/AzureAIVision/npm/:username=msface
//pkgs.dev.azure.com/msface/SDK/_packaging/AzureAIVision/npm/:_password=M01aVEozb1E4eUpUaTlpSzN5aWNtNU5aQ2ZpZVRVeW1UMDl4SFA5a2I4ZG4zZTlmU2xBU0pRUUo5OUNCQUNBQUFBQUFBcm9oQUFBU0FaRE8zQVcy
//pkgs.dev.azure.com/msface/SDK/_packaging/AzureAIVision/npm/:email=contato@machadogestao.com
; end auth token