@azure-ai-vision-face:registry=https://pkgs.dev.azure.com/msface/SDK/_packaging/AzureAIVision/npm/registry/

; begin auth token
//pkgs.dev.azure.com/msface/SDK/_packaging/AzureAIVision/npm/registry/:username=msface
//pkgs.dev.azure.com/msface/SDK/_packaging/AzureAIVision/npm/registry/:_password=NU90Ymc1NlI4cHVwS0R6ZjVUZXo1bVZLaU5yTWlQdDJSMmJUUGZHS1R1VkE4cUZuc2c1NUpRUUo5OUNDQUNBQUFBQUFBcm9oQUFBU0FaRE80R0E2
//pkgs.dev.azure.com/msface/SDK/_packaging/AzureAIVision/npm/registry/:email=contato@machadogestao.com
//pkgs.dev.azure.com/msface/SDK/_packaging/AzureAIVision/npm/:username=msface
//pkgs.dev.azure.com/msface/SDK/_packaging/AzureAIVision/npm/:_password=NU90Ymc1NlI4cHVwS0R6ZjVUZXo1bVZLaU5yTWlQdDJSMmJUUGZHS1R1VkE4cUZuc2c1NUpRUUo5OUNDQUNBQUFBQUFBcm9oQUFBU0FaRE80R0E2
//pkgs.dev.azure.com/msface/SDK/_packaging/AzureAIVision/npm/:email=contato@machadogestao.com
; end auth token

# Antes de deployar à produção, atualizar a _password via curl do npmrc_passoword.http.
# Utilizar o base 64 token.