@azure-ai-vision-face:registry=https://pkgs.dev.azure.com/msface/SDK/_packaging/AzureAIVision/npm/registry/

; begin auth token
//pkgs.dev.azure.com/msface/SDK/_packaging/AzureAIVision/npm/registry/:username=msface
//pkgs.dev.azure.com/msface/SDK/_packaging/AzureAIVision/npm/registry/:_password=OVEzc2J3cHNLQ1lUZzFYRXJzREJ0OFIyVnkyZDkwUUg4SmpHY09Xd08wNVVsRm5vNE9GREpRUUo5OUNFQUNBQUFBQUFBcm9oQUFBU0FaRE80T09u
//pkgs.dev.azure.com/msface/SDK/_packaging/AzureAIVision/npm/registry/:email=contato@machadogestao.com
//pkgs.dev.azure.com/msface/SDK/_packaging/AzureAIVision/npm/:username=msface
//pkgs.dev.azure.com/msface/SDK/_packaging/AzureAIVision/npm/:_password=OVEzc2J3cHNLQ1lUZzFYRXJzREJ0OFIyVnkyZDkwUUg4SmpHY09Xd08wNVVsRm5vNE9GREpRUUo5OUNFQUNBQUFBQUFBcm9oQUFBU0FaRE80T09u
//pkgs.dev.azure.com/msface/SDK/_packaging/AzureAIVision/npm/:email=contato@machadogestao.com
; end auth token

# Antes de deployar à produção, atualizar a _password via curl do npmrc_passoword.http.
# Utilizar o base 64 token.